
    .main{
            background-color:rgb(249, 245, 245);
            display: flex;
            height: 400px;
            
            
            flex-wrap: same;
        }
         .box1{
            width: 250px;
            height:280px;
             background-color:rgb(216, 206, 206);
             margin:10px;
             border-radius: 10px;
             padding : 10px
               
        }
        .box2{
            width: 250px;
            height: 280px;
             background-color:rgb(216, 206, 206);
             margin:10px;
             border-radius: 10px;
             padding : 10px
        }
        .box3{
            width: 250px;
            height:280px;
             background-color:rgb(216, 206, 206);
             margin:10px;
             border-radius: 10px;
             padding : 10px
        }
        .button{
            background-color:rgb(78, 153, 78);
            color:white;
             border-radius: 5px;
        }
